includeConfig "${projectDir}/external/nf-helper/conf/sites/gwdg.config"

profiles {
    gwdg {
        process {
            withLabel: process_medium {
                cpus = { Math.min(16 * task.attempt, params.max_cpus as int) }
                memory = { [50.GB * task.attempt, params.max_memory].min() }
                time = { [6.h * task.attempt, params.max_time].min() }
            }

            withLabel: process_high {
                cpus = { Math.min(64 * task.attempt, params.max_cpus as int) }
                memory = { [200.GB * task.attempt, params.max_memory].min() }
                time = { [1.d * task.attempt, params.max_time].min() }
            }
        }
    }
}
