includeConfig "${projectDir}/external/nf-helper/conf/sites/oist.config"

profiles {
    oist {
        params {
            max_memory = 500.GB
            max_cpus = 128
            max_time = 90.h
        }

        process {
            queue = 'compute'
            clusterOptions = '-C zen2'
            resourceLimits = [
                memory: 500.GB,
                cpus: 128,
                time: 90.h,
            ]
        }
    }
}
