includeConfig "${projectDir}/external/nf-helper/conf/sites/viper-cpu.config"

profiles {
    'viper-cpu' {
        process {
            withName: download_busco_dataset {
                executor = 'local'
                cpus = 1
                memory = 16.GB
                time = 24.h
                scratch = false
                resourceLimits = [
                    memory: 16.GB,
                    cpus: 1,
                    time: 24.h,
                ]
            }
        }
    }
}
